# Luxury Housing Sales Analysis – Bengaluru

### Data Ingestion & Initial Exploration

##### Import Libraries

In [1]:
import pandas as pd
import numpy as np

##### Load the raw .csv file

In [2]:
df = pd.read_csv(r"C:\Users\KAVIYA V\Downloads\Luxury_Housing_Bangalore.csv")
df.head()

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.

##### Dataset Dimensions

In [3]:
df.shape

(101000, 18)

##### Dataset Structure & Data Types

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Property_ID           101000 non-null  object
 1   Micro_Market          101000 non-null  object
 2   Project_Name          101000 non-null  object
 3   Developer_Name        101000 non-null  object
 4   Unit_Size_Sqft        90954 non-null   float64
 5   Configuration         101000 non-null  object
 6   Ticket_Price_Cr       90981 non-null   object
 7   Transaction_Type      101000 non-null  object
 8   Buyer_Type            101000 non-null  object
 9   Purchase_Quarter      101000 non-null  object
 10  Connectivity_Score    101000 non-null  float64
 11  Amenity_Score         90910 non-null   float64
 12  Possession_Status     101000 non-null  object
 13  Sales_Channel         101000 non-null  object
 14  NRI_Buyer             101000 non-null  object
 15  Locality_Infra_Score  101000 non-null  float64
 16  Avg_Traffic_Time_Min  101000 non-null  int64
 17  Buyer_Comments        82713 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 13.9+ MB

##### Check for Missing Values

In [5]:
df.isnull().sum()

Property_ID                 0
Micro_Market                0
Project_Name                0
Developer_Name              0
Unit_Size_Sqft          10046
Configuration               0
Ticket_Price_Cr         10019
Transaction_Type            0
Buyer_Type                  0
Purchase_Quarter            0
Connectivity_Score          0
Amenity_Score           10090
Possession_Status           0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
Buyer_Comments          18287
dtype: int64

##### Descriptive Statistics

In [6]:
df.describe()

,Unit_Size_Sqft,Connectivity_Score,Amenity_Score,Locality_Infra_Score,Avg_Traffic_Time_Min
count,90954.000000,101000.000000,90910.000000,101000.000000,101000.000000
mean,5972.274765,6.992619,7.503663,7.498426,67.182921
std,1783.397836,1.731757,1.440758,1.443128,30.271611
min,-1.000000,4.000031,5.000224,5.000013,15.000000
25%,4477.250000,5.494526,6.260329,6.247954,41.000000
50%,5990.000000,6.985805,7.499123,7.495614,67.000000
75%,7497.000000,8.490000,8.752207,8.749824,93.000000
max,8999.000000,9.999970,9.999865,9.999956,119.000000

##### Column Identification

In [7]:
df.columns

Index(['Property_ID', 'Micro_Market', 'Project_Name', 'Developer_Name',
       'Unit_Size_Sqft', 'Configuration', 'Ticket_Price_Cr',
       'Transaction_Type', 'Buyer_Type', 'Purchase_Quarter',
       'Connectivity_Score', 'Amenity_Score', 'Possession_Status',
       'Sales_Channel', 'NRI_Buyer', 'Locality_Infra_Score',
       'Avg_Traffic_Time_Min', 'Buyer_Comments'],
      dtype='object')

### Categorical Data Cleaning & Standardization

##### Remove Duplicates

In [8]:
initial_shape = df.shape
df.drop_duplicates(inplace=True)
print(f"\nDuplicates Removed: {initial_shape[0] - df.shape[0]}")

Duplicates Removed: 1000

##### Text Data Cleaning and Formatting

In [9]:
text_cols = [
    'Micro_Market', 'Project_Name', 'Developer_Name',
    'Configuration', 'Transaction_Type', 'Buyer_Type',
    'Sales_Channel', 'Possession_Status', 'NRI_Buyer'
]

for col in text_cols:
    df[col] = df[col].str.strip().str.title()

#### Handle Missing Values

##### Ticket Price Cleaning & Null Handling

In [10]:
df['Ticket_Price_Cr'] = (
    df['Ticket_Price_Cr']
    .astype(str)
    .str.replace(r'[^0-9.]', '', regex=True)
)

df['Ticket_Price_Cr'] = pd.to_numeric(df['Ticket_Price_Cr'], errors='coerce')
df['Ticket_Price_Cr'] = df['Ticket_Price_Cr'].fillna(df['Ticket_Price_Cr'].median())

##### Unit Size Cleaning

In [11]:
df['Unit_Size_Sqft'] = df['Unit_Size_Sqft'].fillna(df['Unit_Size_Sqft'].median())

##### Amenity Score Handling

In [12]:
df['Amenity_Score'] = df['Amenity_Score'].fillna(df['Amenity_Score'].median())

##### Buyer Comments Handling

In [13]:
df['Buyer_Comments'] = df['Buyer_Comments'].fillna("No Comment")

### Feature Engineering & Derived Metrics

##### Booking Status Derivation

In [14]:
booked = [
    "Loved the amenities!",
    "Excellent location!",
    "Great value for money.",
    "Great view from 15th floor.",
    "Underpriced for location."
]

pending = ["Will buy after possession."]

df['Booking_Status'] = np.select(
    [
        df['Buyer_Comments'].isin(booked),
        df['Buyer_Comments'].isin(pending)
    ],
    ['Booked', 'Pending'],
    default='Not Booked'
)

##### Booking Flag Creation

In [15]:
df['Booking_Flag'] = np.where(df['Transaction_Type'] == 'Primary', 1, 0)

##### Column Renaming and Price Metric Calculation

In [16]:
df = df.rename(columns={'Developer_Name': 'Builder'})

##### Price per Square Foot Calculation

In [17]:
if 'Ticket_Price_Cr' in df.columns and 'Unit_Size_Sqft' in df.columns:
    df['Price_Per_Sqft'] = np.where(
        df['Unit_Size_Sqft'] > 0,
        (df['Ticket_Price_Cr'] * 10000000) / df['Unit_Size_Sqft'],
        0
    )

### Time Dimension Derivation

##### Date, Year, and Quarter Derivation

In [18]:
df.rename(columns={'Purchase_Quarter': 'Date'}, inplace=True)

df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Quarter'] = df['Date'].dt.quarter

### Final Data Validation

In [19]:
df.columns

Index(['Property_ID', 'Micro_Market', 'Project_Name', 'Builder',
       'Unit_Size_Sqft', 'Configuration', 'Ticket_Price_Cr',
       'Transaction_Type', 'Buyer_Type', 'Date', 'Connectivity_Score',
       'Amenity_Score', 'Possession_Status', 'Sales_Channel', 'NRI_Buyer',
       'Locality_Infra_Score', 'Avg_Traffic_Time_Min', 'Buyer_Comments',
       'Booking_Status', 'Booking_Flag', 'Price_Per_Sqft', 'Year', 'Month',
       'Quarter'],
      dtype='object')

In [20]:
df.shape

(100000, 24)

In [21]:
df.isnull().sum()

Property_ID             0
Micro_Market            0
Project_Name            0
Builder                 0
Unit_Size_Sqft          0
Configuration           0
Ticket_Price_Cr         0
Transaction_Type        0
Buyer_Type              0
Date                    0
Connectivity_Score      0
Amenity_Score           0
Possession_Status       0
Sales_Channel           0
NRI_Buyer               0
Locality_Infra_Score    0
Avg_Traffic_Time_Min    0
Buyer_Comments          0
Booking_Status          0
Booking_Flag            0
Price_Per_Sqft          0
Year                    0
Month                   0
Quarter                 0
dtype: int64

In [22]:
print(f"Final data shape: {df.shape}")

Final data shape: (100000, 24)

In [23]:
df.head()

,Property_ID,Micro_Market,Project_Name,Builder,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Date,...,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments,Booking_Status,Booking_Flag,Price_Per_Sqft,Year,Month,Quarter
0,PROP000001,Sarjapur Road,Project_0,Rmz,4025.0,4Bhk,12.750846,Primary,Nri,2025-03-31,...,Yes,9.212491,18,Loved the amenities!,Booked,1,31679.120594,2025,3,1
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292152,Primary,Other,2024-06-30,...,No,7.723898,106,No Comment,Not Booked,1,28284.985887,2024,6,2
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4Bhk,10.517724,Primary,Hni,2023-12-31,...,Yes,6.985493,113,Agent was not responsive.,Not Booked,1,13646.976013,2023,12,4
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3Bhk,9.396367,Primary,Hni,2024-03-31,...,Yes,6.100929,106,Excellent location!,Booked,1,15175.012103,2024,3,1
4,PROP000005,Koramangala,Project_4,Snn Raj,7147.0,4Bhk,15.345392,Secondary,Hni,2024-12-31,...,No,5.312510,18,Too far from my office.,Not Booked,0,21471.096187,2024,12,4

### Data Export for Analytics

In [24]:
df.to_csv("Luxury_Housing_Cleaned.csv", index=False)

### Database Integration

In [25]:
from sqlalchemy import create_engine
import pyodbc
import pandas as pd

conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=KAVIYA\SQLEXPRESS;"
    "DATABASE=LuxuryHousingBglr;"
    "Trusted_Connection=yes;"
)

print("Connected to SQL Server")

engine = create_engine(
    "mssql+pyodbc://KAVIYA\\SQLEXPRESS/LuxuryHousingBglr?"
    "driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes"
)

print("Engine created")

df.to_sql(
    "LuxuryHousing",
    con=engine,
    if_exists="append",   
    index=False
)

print("Data inserted into SQL Server")

Connected to SQL Server
Engine created
Data inserted into SQL Server